<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
    <ion-item>
      <!-- <ion-label>Todo</ion-label>
      <ion-input type="text" required [(ngModel)]="todo.title" ngControl="title"></ion-input> -->
      <ion-label>name</ion-label>
      <input type="text">
    </ion-item>
    <ion-item>
      <ion-label>password</ion-label>
      <!-- <ion-textarea [(ngModel)]="todo.description" ngControl="description"></ion-textarea> -->
      <input type="text">
    </ion-item>
    <button ion-button type="submit" block>Add Todo</button>
  </form>
   
</ion-content>
