<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" required [(ngModel)]="todo.title" ngControl="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="todo.description" ngControl="description"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Add Todo</button>
  </form>
    styleUrls: ['tab1.page.scss']
</ion-content>
